<form action="#" class="sign-up-form">
	<p><input placeholder="Email" type="text"></p>
	<p><input placeholder="First Name" type="text"></p>
	<p><input placeholder="Last Name" type="text"></p>
	<p><input placeholder="Password" type="password"></p>
	<p class="wholesale-input disabled"><input placeholder="Permission" type="text"><button class="btn">Upload</button>
	</p>
	<h6 class="wholesale-heading disabled">Please attach wholesale purchase permission</h6>
	<button class="btn last-button">Create my account</button>
</form>