<div class="comment">
	<div class="comment__stars">
		<i class="ic-star"></i>
		<i class="ic-star"></i>
		<i class="ic-star"></i>
		<i class="ic-star"></i>
		<i class="ic-star"></i>
	</div>

	<h4 class="comment__title">@@title</h4>
	<p class="comment__text">Love Vitamins! The individual packets make it so easy to remember you
		daily vitamins and makes
		travelling easy!!! 👍🏽</p>
	<div class="comment__bottom">
		<div class="comment__image">
			<picture>
				<source type='image/webp' srcset='@img/comments/@@photo.webp'>
				<img src='@img/comments/@@photo.jpg' alt='customer photo'>
			</picture>
		</div>
		<p class="comment__name">@@name</p>

	</div>

</div>