<section class="quiz">
	<div class="quiz__header">
		<a class="quiz__logo" href="index.html"><i class="ic-logo"><span class="path1"></span><span
					class="path2"></span><span class="path3"></span></i></a>
		<p class="quiz__pages">1/9</p>
	</div>
	<div class="quiz__body">
		<div class="quiz__content quiz__content_1">
			<div class="quiz__left">
				<h3 class="quiz__title">What’s your first name?</h3>
			</div>
			<div class="quiz__right">
				<div>
					<p><label for="test1">First Name</label></p>
					<div class="quiz__line">
						<div><input type="text" value="Alex" /></div>
						<div class="quiz__circle"><i class="ic-arrow-next"></i></div>
					</div>
				</div>
			</div>
		</div>
		<div class="quiz__content quiz__content_2">
			<div class="quiz__left">
				<h3 class="quiz__title">Do you smoke?</h3>
			</div>
			<div class="quiz__right">
				<div class="quiz__question quiz__question_column">
					<p>Yes</p>
					<p>No</p>
				</div>

			</div>
		</div>
		<div class="quiz__content quiz__content_3">
			<div class="quiz__left">
				<h3 class="quiz__title">What is your eating habits?</h3>
			</div>
			<div class="quiz__right">
				<div class="quiz__question quiz__question_row">
					<p>Vegan diet</p>
					<p>Vegetarian diet</p>
					<p>My diet is generally healthy and includes animal protein, fish and veggies</p>
					<p>My diet includes fast food and soft drinks</p>
				</div>

			</div>
		</div>
	</div>
	<div class="quiz__footer">
		<div>
			<i class="ic-arrow-back"></i>
			<p class="quiz__back">Back</p>
		</div>
	</div>
</section>