@charset "UTF-8";

/*Шрифты*/

.btn {
  cursor: pointer;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: #FF7D4E;
  border: 1px solid #FF7D4E;
  color: #fff;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #fd6b36;
  transform: scale(1.05);
}

.btn:active {
  background-color: #ff6128;
}

@media (min-width: 769px) {
  .btn {
    height: 64px;
  }
}