.product-left {
   background-color: #9c91e0;
   padding-bottom: percent(386, 320);
   position: relative;
   @media (min-width: 375px) {
      padding-bottom: percent(436, 375);
   }
   &__image {
      position: absolute;
      top: percent(100, 386);
      left: 0;
      padding-bottom: percent(251, 320);
      @media (min-width: 375px) {
         top: percent(105, 436);
      }
      @media (min-width: 567px) {
         top: 100px;
      }
      @media (min-width: 767px) {
         padding-bottom: percent(479, 900);
      }
      @media (min-width: 1439px) {
         top: percent(225, 2122);
      }
   }
}
