body.product {
   .product-right {
      padding-top: 40px;
      padding-left: 20px;
      padding-right: 20px;
      @media (min-width: 567px) {
         max-width: 563px;
         margin: 0 auto;
         padding-top: 100px;
      }
      @media (min-width: 1025px) {
         padding-left: percent(135, 1800);
         padding-right: percent(203, 1800);
         padding-top: percent(161, 1800);
         max-width: none;
      }
      @media (min-width: 1600px) {
      }
      &__label {
         font-family: $ff2;
         @include fl(14, 19.07);
         opacity: 1;
         font-weight: 600;
         margin-bottom: 15px;
         @media (min-width: 1441px) {
            @include fl(16, 21.79);
            margin-bottom: 12px;
         }
         &_purple {
            color: $purpleLabel;
         }
         &_mint {
            color: $mintLabel;
         }
         &_blue {
            color: $blueLabel;
         }
         &_red {
            color: $redLabel;
         }
         &_gold {
            color: $goldLabel;
         }
         &_pink {
            color: $pinkLabel;
         }
         &_green-label {
            color: $greenLabel;
         }
         &_catalog-green {
            color: #71bb5e;
         }
      }
      &__title {
         font-weight: 500;
         @include fl(24, 28.94);
         margin-bottom: 40px;
         @media (min-width: 1441px) {
            @include fl(40, 48.24);
         }
      }
   }
}
