 .top-buttons {
	display: flex;
	justify-content: space-between; 
	padding: 10px;
	border: 1px solid #E6E6E6;
	border-radius: 16px;
	.btn {
		border-radius: 12px;
		padding: 0px 25px;
		min-height: 67px;
		font-weight: 500;
		&.disabled {
			background-color: transparent;
			color: #000;
			border: none;
		}
	}
	
}
