.footer {
   background-color: #faf8f6;
   padding-top: 74px;
   padding-bottom: 40px;
   &__container {
      @media (min-width: 769px) {
         display: flex;
      }
      @media (min-width: 1441px) {
         padding-left: 203px;
         padding-right: 203px;
      }
   }

   &__first {
      @media (max-width: 768px) {
         margin-bottom: 37px;
      }
      @media (min-width: 769px) {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         max-width: 124px;
      }
   }

   &__logo {
      display: inline-block;
      margin-left: -3px;
      font-size: 48px;
      @media (min-width: 769px) {
         // margin-bottom: 20px;
      }
   }

   &__content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 1em;
      row-gap: 40px;
      @media (max-width: 768px) {
         margin-bottom: 40px;
      }
      @media (min-width: 600px) {
         grid-template-columns: 1fr 1fr 1fr;
         column-gap: 50px;
      }
   }

   &__copy {
      font-family: $ff2;
      @include fl(12, 16.34);
      opacity: 0.3;
      &_mobile {
         @media (min-width: 768px) {
            display: none;
         }
      }
      &_desktop {
         display: none;
         @media (min-width: 769px) {
            display: block;
            // margin-bottom: 30px;
         }
      }
   }
}
.menu-footer {
   &:last-child {
      @media (max-width: 600px) {
         grid-column: span 2;
      }
   }
   &__title {
      @include fl(18, 21.71);
      margin-bottom: 20px;
   }
   &__list {
      // max-width: 128px;
      li {
         font-family: $ff2;
         @include fl(14, 19.07);
         opacity: 0.5;
         &:not(:last-child) {
            margin-bottom: 16px;
         }
         a {
            position: relative;
            display: inline-block;
            &:after {
               transition: all 0.3s ease;
               content: "";
               position: absolute;
               bottom: -3px;
               left: 0;
               width: 0;
               height: 1px;
               background: rgba(0, 0, 0, 0.3);
            }
            transition: all 0.3s ease;
            &:hover {
               &:after {
                  width: 100%;
               }
            }
         }
      }

      &_1 {
      }
      &_2 {
      }
      &_3 {
         li a {
            display: flex;
            align-items: center;
            &:after {
               display: none;
            }
            transition: all 0.3s ease;
            &:hover {
               i {
                  transform: scale(1.3);
               }
            }
         }
         i {
            transition: all 0.3s ease;
            font-size: 22px;
            margin-right: 10px;
         }
      }
   }
}
