//Text styles
.header {
	[class*=__title] {
		font-weight: 500;
		@include fl(20, 24.12);
	}
	&__copy {
		font-family: $ff2;
		@include fl(12, 16.34);
	}
	&__text {
		font-family: $ff2;
		@include fl(14, 19.07);
	}
	&__subtitle {
		@include fl(18, 21.71);
	}
}

.header {
	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.header-action {
	display: flex;
	align-items: center;
	&__item {
		&:not(:last-child) {
			margin-right: 35px;
		}
		.btn {
			@media (min-width: 1025px) {
				width: 154px;
				height: 50px;
			}
		}
	}
}

.burger {
	min-height: 40px; // Высота блока для удобства нажатия на иконку
	width: 24px; // Макетная ширина бургера
	display: flex;
	align-items: center;
	&:hover .burger__wrapper{
			span,
			&:before,
			&:after {
				background-color: $orange;
			}
	}
	&__wrapper {
		width: 100%;
		height: 18px; //Макетная высота бургера
		position: relative;
		span,
		&:before,
		&:after {
			position: absolute;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: #000;
			transition: all .3s ease;
		}
		&:before {
			content: '';
			top: 0;
			transform: translate(0, 0);
			animation: burgerTopDisabled .7s ease 0s 1;
			animation-fill-mode: forwards;
		}
		&:after {
			content: '';
			top: 100%;
			transform: translate(0, -100%);
			animation: burgerBottomDisabled .7s ease 0s 1;
			animation-fill-mode: forwards;
		}
		span {
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
		}
		@keyframes burgerTopDisabled { // Closing burger animation
			0% {
				transform: translate(0, -50%) rotate(-45deg);
				top: 50%;
			}
			50%{
				transform: translate(0, -50%);
				top: 50%;
				
			}
			100% {
				top: 0;
				transform: translate(0, 0);
			}
		}
		@keyframes burgerBottomDisabled { // Closing burger animation
			0% {
				transform: translate(0, -50%) rotate(45deg);
				top: 50%;
			}
			50% {
				transform: translate(0, -50%);
				top: 50%;
			}
			100% {
				top: 100%;
				transform: translate(0, -100%);
			}
		}
	}
	&.active { // Opening burger animation
		.burger__wrapper {
			&:before {
				animation: burgerTopActive .7s ease 0s 1;
				animation-fill-mode: forwards;
			}
			span {
				transform: scale(0);
			}
			&:after{
				animation: burgerBottomActive .7s ease 0s 1;
				animation-fill-mode: forwards;
			}
			@keyframes burgerTopActive {
				0% {
					top: 0;
				}
				50%{
					transform: translate(0, -50%);
					top: 50%;
				}
				100% {
					transform: translate(0, -50%) rotate(-45deg);
					top: 50%;
				}
			}
			@keyframes burgerBottomActive {
				0% {
					top: 100%;
					transform: translate(0, -100%);
				}
				50% {
					transform: translate(0, -50%);
					top: 50%;
				}
				100% {
					transform: translate(0, -50%) rotate(45deg);
					top: 50%;
				}
			}
		}
	}
}
