/*Шрифты*/
$ff1: "Effra";
$ff2: "OpenSans";

//Цвета шрифтов
$orange: #FF7D4E;
$orangeSpan: #F27E58;
$textContentColor: #808080;
$purpleLabel:#6B5EBB;
$mintLabel:#6BB0A4;
$pinkLabel: #9448A0;
$blueLabel: #5F9DCA;
$orangeLabel: #E29964;
$greenLabel: #5E73BB;
$redLabel: #E6463B;

//Состояния
$orangeBgColorHover: #fd6b36;
$orangeBgColorActive: #ff6128;

//input
$inputBg: #FAF8F6;