body.home {
   .header {
      @media (min-width: 769px) {
         padding-top: 4px;
      }
      .btn {
         @media (min-width: 769px) {
            @include fl(16, 19.3);
            font-family: $ff1;
         }
      }
      &:before {
         @media (min-width: 680px) {
            background-color: transparent;
         }
      }
      &:after {
         @media (min-width: 680px) {
            display: none;
         }
      }
   }
   .home-title {
      font-weight: 500;
      @include fl(24, 28.94);
      @media (min-width: 468px) {
         @include fl(26, 31);
      }
      @media (min-width: 760px) {
         @include fl(30, 35);
      }
      @media (min-width: 1000px) {
         @include fl(38, 45);
      }
      @media (min-width: 1400px) {
         @include fl(48, 61);
      }
      @media (min-width: 1600px) {
         @include fl(56, 67.54);
      }
   }
   // =======================================================================================
   //  Hero===Hero===Hero====Hero====Hero====Hero===Hero===Hero====Hero===Hero====Hero===Hero
   // =======================================================================================
   .hero {
      position: relative;
      // .hero__top
      @media (min-width: 467px) {
         margin-bottom: 30px;
      }
      @media (min-width: 679px) {
         margin-bottom: 0;
      }
      @media (max-width: 679px) {
         padding-top: 110px;
      }
      @media (min-width: 468px) {
         display: flex;
      }
      svg {
         &.decor-1 {
            position: absolute;
            top: percent(282, 708);
            // left: percent(257, 320);
            left: 100%;
            transform: translate(-100%, 0);
            @media (min-width: 468px) {
               top: percent(120, 700);
            }
            @media (min-width: 1000px) {
               display: none;
            }
         }
         &.decor-2 {
            position: absolute;
            top: percent(418, 700);
            left: 0;
            z-index: -1;
            @media (min-width: 1000px) {
               display: none;
            }
         }
         &.decor-3 {
            display: none;
            @media (min-width: 1000px) {
               width: 8.5vmax;
               height: 8.5vmax;
               display: block;
               position: absolute;
               top: 0;
               left: percent(552, 1800);
            }
         }
         &.decor-4 {
            display: none;
            @media (min-width: 1000px) {
               display: block;
               position: absolute;
               top: percent(782, 954);
               left: percent(761, 1800);
               z-index: 1;
               width: 15.2vmax;
               height: 8.1vmax;
            }
         }
      }
      &__top {
         padding-left: 20px;
         padding-right: 20px;
         @media (max-width: 467px) {
            text-align: center;
         }
         @media (min-width: 1000px) {
         }
         @media (min-width: 680px) {
            align-self: center;
            flex: 0 0 50%;
            padding-top: 5%;
         }
         @media (min-width: 800px) {
            padding-top: 0;
         }
         @media (min-width: 1000px) {
            padding-left: percent(50, 900);
         }
         @media (min-width: 1600px) {
            padding-left: percent(202, 1800);
         }
      }
      &__wrapper-top {
         @media (min-width: 1000px) {
            max-width: 660px;
         }
      }
      // .hero__title

      &__title {
         margin-bottom: 15px;
         @media (min-width: 468px) {
            margin-bottom: 19px;
         }
         @media (min-width: 760px) {
            margin-bottom: 23px;
         }
         @media (min-width: 1000px) {
            margin-bottom: 27px;
         }
         @media (min-width: 1400px) {
            margin-bottom: 32px;
         }
         @media (min-width: 1600px) {
            margin-bottom: 38px;
            transform: translate(0, -3px);
         }
         span {
            color: $orange;
         }
      }

      // .hero__text

      &__text {
         color: #808080;
         font-family: $ff2;
         @include fl(14, 22.88);
         margin-bottom: 20px;
         @media (min-width: 760px) {
            @include fl(16, 25);
            margin-bottom: 28px;
         }
         @media (min-width: 1000px) {
            @include fl(18, 28);
            margin-bottom: 38px;
            max-width: 480px;
         }
         @media (min-width: 1400px) {
            @include fl(20, 32.68);
            margin-bottom: 48px;
            transform: translate(0, -6px);
         }
      }
      &__buttons {
         @media (min-width: 468px) {
            // display: flex;
            // flex-direction: column;
         }
         @media (min-width: 570px) {
            display: flex;
            align-items: center;
            column-gap: 15px;
         }
         @media (min-width: 760px) {
            column-gap: 20px;
         }
         @media (min-width: 1000px) {
            column-gap: 25px;
         }
         @media (min-width: 1400px) {
            column-gap: 33px;
            transform: translate(0, -3px);
         }
      }
      .btn {
         background-color: #6e5ddc;
         border: 1px solid #6e5ddc;
         height: 50px;
         max-width: 154px;
         @media (max-width: 467px) {
            margin: 0 auto 21px;
         }
         @media (max-width: 569px) {
            margin-bottom: 21px;
         }
         @media (min-width: 1000px) {
            max-width: 260px;
            font-family: $ff2;
            height: 74px;
         }
      }
      // .hero__button

      &__button {
         color: #f27e58;
         display: inline-flex;
         align-items: center;
         @media (min-width: 570px) {
            transform: translate(0, 2px);
         }
         a {
            @include fl(14, 16.88);
            font-weight: 500;
            margin-right: 10px;
            @media (min-width: 1600px) {
               @include fl(20, 24.12);
            }
         }
         svg {
            transform: translate(-4px, 0);
            @media (min-width: 1000px) {
               width: 9px;
               height: 15px;
            }
         }
      }

      // .hero__bottom

      &__bottom {
         .decor-circle {
            &_o {
               // width: 60px;
               // height: 60px;
               // top: 100%;
               // right: percent(37, 320);
               // transform: translate(0, -93%);
               display: none;
               @media (min-width: 600px) {
                  transform: translate(0, -93%);
                  display: block;
                  height: percent(95, 954);
                  width: percent(95, 900);
                  top: 260px;
                  top: percent(260, 954);
                  left: percent(150, 900);
                  @media (min-width: 1200px) {
                     left: percent(731, 900);
                  }
               }
            }
            &_p {
               display: none;
               @media (min-width: 600px) {
                  display: block;
                  width: percent(523, 900);
                  height: percent(523, 954);
                  top: 50%;
                  left: 63%;
                  transform: translate(-50%, -50%);
               }
               @media (min-width: 1200px) {
                  left: 50%;
               }
            }
         }
         position: relative;
         @media (max-width: 468px) {
            align-self: center;
         }
         @media (min-width: 468px) {
            width: 100%;
         }
         @media (min-width: 680px) {
            background-color: #f9f9f9;
         }
         @media (min-width: 1000px) {
            flex: 0 0 50%;
         }
      }

      // .hero__image

      &__image {
         position: relative;
         padding-bottom: 100%;
         top: -16px;
         @media (min-width: 375px) {
            top: -20px;
         }
         @media (min-width: 620px) {
            top: -50px;
         }
         @media (min-width: 680px) {
            padding-bottom: 110%;
            top: 0;
         }
         @media (min-width: 1000px) {
            padding-bottom: 106%;
         }
         img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
            @media (min-width: 680px) {
               object-fit: cover;
            }
            @media (min-width: 1200px) {
               object-fit: contain;
               width: 120%;
               left: -20.3%;
               top: 8%;
            }
         }
      }

      .decor-circle {
         // .decor-circle_purple

         &_purple {
         }
      }
   }
   // =======================================================================================
   //  Healthy====Healthy====Healthy=====Healthy=====Healthy====Healthy====Healthy====Healthy
   // =======================================================================================
   .healthy {
      @media (max-width: 374px) {
         margin-top: -27px;
      }
      @media (max-width: 467px) {
         margin-top: rem(-36);
      }
      @media (min-width: 720px) {
         display: grid;
         grid-template-columns: 1fr 1fr;
      }
      &__top {
         background-color: #8172dd;
         position: relative;
         padding: 18px;
         min-height: 198px;
         color: #fff;
         display: flex;
         justify-content: center;
         align-items: center;
         text-align: center;
         @media (min-width: 720px) {
            padding: 0 30px;
         }
         svg {
            &:first-child {
               position: absolute;
               top: 0;
               left: 0;
               @media (min-width: 375px) {
                  left: percent(28, 375);
               }
               @media (min-width: 720px) {
                  display: none;
               }
            }
            &:last-child {
               display: none;
               @media (min-width: 720px) {
                  display: block;
                  position: absolute;
                  top: 0;
                  left: 0;
                  max-width: 100%;
                  max-height: 100%;
               }
            }
         }
         .decor-circle_o {
            width: 60px;
            height: 60px;
            position: absolute;
            top: 0;
            left: 223px;
            transform: translate(0, -50%);

            @media (min-width: 375px) {
               left: percent(298, 375);
            }
            @media (min-width: 720px) {
               top: 55px;
               left: percent(127, 900);
            }
            @media (min-width: 1000px) {
               top: 71px;
               transform: translate(0, 0);
               width: percent(139, 900);
               height: percent(139, 960);
            }
            @media (min-width: 1600px) {
            }
         }
      }
      &__title {
         max-width: 280px;
         margin: 0 auto;
         transform: translate(0, 2px);
         letter-spacing: -0.2px;
         @media (min-width: 720px) {
            text-align: left;
            max-width: 563px;
         }
         @media (min-width: 1600px) {
            transform: translate(32px, -15px);
         }
      }
      &__bottom {
         padding-left: 20px;
         padding-right: 20px;
         padding-top: 36px;
         padding-bottom: 40px;
         @media (min-width: 720px) {
            padding-top: percent(214, 900);
            padding-bottom: percent(248, 900);
            padding-left: percent(60, 900);
            padding-right: percent(60, 900);
         }
      }
      &__items {
         display: grid;
         row-gap: 32px;
         @media (min-width: 375px) {
            row-gap: 30px;
         }
         @media (min-width: 400px) {
            justify-items: center;
         }
         @media (min-width: 760px) {
            row-gap: 40px;
         }
         @media (min-width: 1000px) {
            row-gap: 55px;
         }
         @media (min-width: 1200px) {
            row-gap: 70px;
         }
         @media (min-width: 1400px) {
            row-gap: 80px;
         }
         @media (min-width: 1600px) {
            justify-items: start;
            row-gap: 93px;
         }
      }
      &__item {
         display: grid;
         column-gap: 25px;
         grid-template-columns: auto 1fr;
         align-items: center;
         @media (min-width: 468px) {
            column-gap: 33px;
         }
         @media (min-width: 760px) {
            column-gap: 40px;
         }
         @media (min-width: 1000px) {
            column-gap: 55px;
         }
         @media (min-width: 1200px) {
            column-gap: 70px;
         }
         @media (min-width: 1400px) {
            column-gap: 80px;
         }
         @media (min-width: 1600px) {
            justify-items: start;
            column-gap: 88px;
         }
         &:last-child {
            transform: translate(0, 2px);
            @media (min-width: 375px) {
               transform: translate(0, 6px);
            }
         }
      }
      &__icon {
         font-size: 46px;
         @media (min-width: 500px) {
            @include fl(54);
         }
         @media (min-width: 700px) {
            @include fl(62);
         }
         @media (min-width: 1000px) {
            @include fl(70);
         }
         @media (min-width: 1200px) {
            @include fl(78);
         }
         @media (min-width: 1400px) {
            @include fl(86);
         }
         @media (min-width: 1600px) {
            @include fl(94);
         }
         //
         @media (min-width: 1600px) {
            font-size: 104px;
         }
         &_1 {
            // font-size: 46px;
            @media (min-width: 1600px) {
               transform: translate(0, -2px);
            }
         }
         &_2 {
            // font-size: 46px;
            @media (min-width: 1600px) {
               // transform: translate(0, -2px);
            }
         }
         &_3 {
            // font-size: 46px;
            @media (min-width: 1600px) {
               // transform: translate(0, -2px);
            }
         }
      }
      &__text {
         @include fl(14, 16.88);
         font-weight: 500;
         @media (min-width: 468px) {
            @include fl(15, 18);
         }
         @media (min-width: 760px) {
            @include fl(19, 25);
         }
         @media (min-width: 1000px) {
            @include fl(24, 30);
            max-width: 444px;
         }
         @media (min-width: 1400px) {
            @include fl(27, 33);
         }
         @media (min-width: 1600px) {
            @include fl(30, 36.18);
         }
      }
   }
   // =======================================================================================
   //  Pills===Pills===Pills===Pills===Pills====Pills===Pills===Pills===Pills===Pills===Pills
   // =======================================================================================
   .pills {
      position: relative;
      // .pills__image
      padding-top: 48px;
      margin-top: 2px;
      @media (min-width: 375px) {
         margin-top: 5px;
         padding-top: 65px;
      }
      @media (min-width: 720px) {
         padding-top: percent(177, 1800);
         margin: 0;
         margin-top: -272px;
         margin-top: percent(-272, 1800);
      }

      &__image {
         &:first-child {
            position: absolute;
            top: 0;
            left: 0;
            width: percent(168.24, 320);
            padding-bottom: percent(142.85, 320);
            z-index: 1;
            @media (min-width: 375px) {
               width: percent(202.24, 375);
               padding-bottom: percent(171.72, 375);
            }
            @media (min-width: 720px) {
               width: percent(530, 1800);
               padding-bottom: percent(450, 1800);
               left: percent(202, 1800);
            }
         }
         &:last-child {
            width: percent(256, 320);
            padding-bottom: percent(148.54, 320);
            position: relative;
            left: 100%;
            top: 0;
            transform: translate(-100%, 0);
            @media (min-width: 375px) {
               width: percent(293.74, 375);
               padding-bottom: percent(170.44, 375);
            }
            @media (min-width: 720px) {
               width: percent(801, 1800);
               padding-bottom: percent(470, 1800);
               left: percent(678, 1800);
               transform: translate(0, 0);
            }
         }

         img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
         }
      }
   }
   // =======================================================================================
   //  About===About===About===About===About====About===About===About===About===About===About
   // =======================================================================================
   .both {
   }
   .about {
      position: relative;
      padding-top: 60px;
      padding-bottom: 59px;
      padding-left: 20px;
      padding-right: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      @media (min-width: 769px) {
         padding-top: percent(150, 1800);
         padding-bottom: percent(151, 1800);
      }
      &__body {
         @media (min-width: 769px) {
            max-width: 800px;
         }
      }
      &__icon {
         @include fl(50);
         margin-bottom: 30px;
         @media (min-width: 500px) {
            @include fl(58);
         }
         @media (min-width: 700px) {
            @include fl(64);
            margin-bottom: 35px;
         }
         @media (min-width: 1000px) {
            @include fl(72);
            margin-bottom: 40px;
         }
         @media (min-width: 1200px) {
            @include fl(80);
         }
         @media (min-width: 1400px) {
            @include fl(90);
            margin-bottom: 50px;
         }
         @media (min-width: 1600px) {
            @include fl(99);
         }
      }
      &__title {
         margin-bottom: 14px;
         @media (min-width: 500px) {
            margin-bottom: 18px;
         }
         @media (min-width: 700px) {
            margin-bottom: 22px;
         }
         @media (min-width: 1000px) {
            margin-bottom: 25px;
         }
         @media (min-width: 1200px) {
            margin-bottom: 28px;
         }
         @media (min-width: 1400px) {
            margin-bottom: 30px;
         }
         @media (min-width: 1600px) {
            margin-bottom: 32px;
         }
      }
      &__text {
         font-family: $ff2;
         @include fl(14, 22.88);
         margin-bottom: 20px;
         color: #808080;
         @media (min-width: 375px) {
            margin-bottom: 28px;
         }
         @media (min-width: 500px) {
            @include fl(15, 25);
            margin-bottom: rem();
         }
         @media (min-width: 700px) {
            @include fl(16, 27);
            margin-bottom: 36px;
         }
         @media (min-width: 1000px) {
            @include fl(17, 28);
            margin-bottom: 40px;
         }
         @media (min-width: 1200px) {
            @include fl(18, 30);
            margin-bottom: 43px;
         }
         @media (min-width: 1400px) {
            @include fl(19, 32);
            margin-bottom: 46px;
         }
         @media (min-width: 1600px) {
            @include fl(20, 32.68);
            margin-bottom: 50px;
         }
      }
      .btn {
         background-color: #6e5ddc;
         border: 1px solid #6e5ddc;
         height: 50px;
         max-width: 154px;
         margin: 0 auto;
         @media (min-width: 1000px) {
            max-width: 260px;
            font-family: $ff2;
            height: 74px;
         }
      }
      .decor-circle {
         &_p {
            position: absolute;
            width: 60px;
            height: 60px;
            top: 45px;
            left: 100%;
            transform: translate(-50%, 0);
            @media (min-width: 375px) {
               top: 25px;
            }
            @media (min-width: 467px) {
               top: percent(94, 806.39);
               left: percent(1483, 1800);
               transform: translate(0, 0);
            }
            @media (min-width: 1000px) {
               top: percent(154, 806.39);
               width: 95px;
               height: 95px;
            }
         }
      }
      svg {
         display: none;
         @media (min-width: 1000px) {
            display: block;
            left: 2%;
            top: 5%;
            left: 2%;
            top: 2%;
            position: absolute;
            height: 15.2vmax;
            width: 8.1vmax;
         }
         @media (min-width: 1200px) {
            top: percent(168, 806.39);
            left: percent(150, 1800);
         }
      }
   }
   .products {
      background-color: red;
   }
   .btn {
      @media (min-width: 1441px) {
         font-family: $ff2;
         @include fl(20, 32.68);
      }
   }

   &__subtitle {
   }
   &__link {
      @include fl(14, 16.88);
      font-weight: 500;
      color: $orangeSpan;
      @media (min-width: 1441px) {
         @include fl(20, 24.12);
      }
   }
   .card__label {
      font-family: $ff2;
      @include fl(12, 16.34);
      font-weight: 600;
      opacity: 0.7;
      @media (min-width: 1441px) {
         @include fl(14, 19.07);
      }
      &.purpleLabel {
         color: $purpleLabel;
      }
      &.mintLabel {
         color: $mintLabel;
      }
   }
   .card__sublabel {
      //profile
      font-family: $ff2;
      @include fl(14, 19.07);
      opacity: 0.7;
      @media (min-width: 1441px) {
         @include fl(16, 21.79);
      }
   }
   .card__title {
      @include fl(18, 21.71);
      font-weight: 500;
      @media (min-width: 1441px) {
         @include fl(24, 28.94);
      }
   }
   .card__text {
      font-family: $ff2;
      @include fl(14, 19.07);
      opacity: 0.7;
      @media (min-width: 1441px) {
         @include fl(16, 26.15);
      }
   }
   .card__summ {
      //personal pack
      font-family: $ff2;
      font-weight: 600;
      @include fl(16, 21.79);
      @media (min-width: 1441px) {
         @include fl(20, 27.24);
      }
   }
}
