body.product {
	.products__title {
		font-weight: 500;
		@include fl(20, 24.12);
		@media (min-width: 1441px) {
			@include fl(30, 36.18);
		}
	}
	.card__label {
		font-family: $ff2;
		@include fl(12, 16.34);
		font-weight: 600;
		opacity: 1; 
		@media (min-width: 1441px) {
			@include fl(14, 19.07);
		}
	}
	.card__title {
		@include fl(16, 19.3);
		font-weight: 400;
		@media (min-width: 1441px) {
			@include fl(20, 24.12);
		}
	}
	.card__summ { //personal pack
		font-family: $ff2;
		font-weight: 700;
		@include fl(16, 21.79);
		@media (min-width: 1441px) {
			font-weight: 600;
			@include fl(20, 27.24);
		}
	}
 }