<!-- <section class="banner">
	<div class="banner__slider swiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide banner__slide banner__slide_1">
				<div class="banner__slide-body">
					<div class="banner__content">
						<h4 class="banner__sublabel">Sublabel</h4>
						<h2 class="banner__title">Don’t know what vitamins your body needs?</h2>
						<p class="banner__text">Answer a few simple questions and automatically
							get a personalazed list of vitamins in minutes</p>
						@@include('../_btn.html', {
						'text': 'Take the quiz'
						})
					</div>
					<div class="banner__images">
						<div class="banner__image">
							<picture>
								<source type='image/webp' srcset='@img/gallery/banner_01.webp'
									media="(min-width: 1000px)">
								<source type='image/webp' srcset='@img/gallery/banner_01-mobile.webp'
									media="(min-width: 320px)">
								<img src='@img/gallery/banner_01.jpg' alt='banner image'>
							</picture>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide banner__slide banner__slide_2">
				<div class="banner__slide-body">
					<div class="banner__content">
						<h4 class="banner__sublabel">You may also like</h4>
						<h2 class="banner__title">Vitamins & Dietary Supplements</h2>
						<p class="banner__text">Answer a few simple questions and automatically get a
							personalazed list of vitamins in minutes</p>
						@@include('../_btn.html', {
						'text': 'View category'
						})
					</div>
					<div class="banner__images">
						<div class="banner__image">
							<picture>
								<source type='image/webp' srcset='@img/gallery/banner_02.webp'>
								<img src='@img/gallery/banner_02.jpg' alt='banner image'>
							</picture>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide banner__slide banner__slide_3">
				<div class="banner__slide-body">
					<div class="banner__content">
						<h4 class="banner__sublabel">You may also like</h4>
						<h2 class="banner__title">Pain Relief Products</h2>
						<p class="banner__text">Answer a few simple questions and automatically get a
							personalazed list of vitamins in minutes</p>
						@@include('../_btn.html', {
						'text': 'View category'
						})
					</div>
					<div class="banner__images">
						<div class="banner__image">
							<picture>
								<source type='image/webp' srcset='@img/gallery/banner_03.webp'>
								<img src='@img/gallery/banner_03.jpg' alt='banner image'>
							</picture>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</section> -->