// Text styles
body.profile {
   .payment {
      max-width: 444px;
      &__title {
      }
      &__items {
         display: flex;
         flex-direction: column;
         row-gap: 25px;
         margin-bottom: 35px;
         &_mobile {
            .payment__line {
               display: flex;
               flex-direction: column;
               input {
                  width: 100%;
               }
            }
            label {
               font-family: $ff2;
               @include fl(14, 19.07);
               margin-bottom: 6px;
               opacity: 0.5;
               max-width: 100%;
            }
            .payment__double-line {
               display: flex;
               column-gap: 17px;
            }
            @media (min-width: 769px) {
               display: none;
            }
         }
         &_desktop {
            display: none;
            @media (min-width: 769px) {
               display: block;
            }
         }
      }

      .btn {
         background-color: #e1deda;
         border: 1px solid #e1deda;
         height: 50px;
         @include fl(16, 19.3);

         @media (max-width: 440px) {
            max-width: 335px;
         }
         @media (min-width: 441px) {
            max-width: 154px;
         }
      }
   }
}
